extends layout

block content
  div.content
    div.showcase-featured
      div.container
        div.showcase-featured-header
          center
            h2 Blog Contents
            p Browse interesting articles, solving all types of interesting problems.
        ul.showcase-featured-grid
          each category, i in categorys
            if category.display
              li(class="col-md col-md-#{category.liclass}")
                div(class="showcase-featured-grid-outer flue-#{category.divclass}")
                  a(style="background-image: url(#{category.color})").showcase-featured-grid-link
                    span.showcase-featured-grid-inner
                      span.showcase-name
                        span.showcase-name-text #{category.name}
                        span(class="showcase-info showcase-info-#{category.divclass}")
                          span.meta-info
                            span.glyphicon.glyphicon-book
                            |14
                            span.text Articles
                if category.nextdiv
                  div(class="showcase-featured-grid-outer flue-#{category.nextdiv.divclass}")
                    a(style="background-image: url(#{category.nextdiv.color});").showcase-featured-grid-link
                      span.showcase-featured-grid-inner
                        span.showcase-name
                          span.showcase-name-text #{category.nextdiv.name}
                          span(class="showcase-info showcase-info-#{category.nextdiv.divclass}")
                            span.meta-info
                              span.glyphicon.glyphicon-book
                              |14
                              span.text Articles